<!DOCTYPE html>
<html>
<head>
    <title>Real-Time Map</title>
    <!--Leaflet.js dependencies-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>

    <!--bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.0/css/bootstrap.min.css" rel="stylesheet">

    <!-- flatpickr CSS -->
    <link href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" rel="stylesheet">
    <!-- flatpickr JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

</head>

<body>
    <h3>Check-In Map</h3>

    <input type="text" class="form-control" id="datetimePicker"><button type="button" id="clearButton">Clear Date Range</button>

    <!--
    I don't like this for now - I don't know what to do next, but this... I don't like it.
    <select name="assetDropdownChoice" id="assetDropdown" multiple>
        {% for option in assets %}
            <option value="{{ option }}" selected>{{ option }}</option>
        {% endfor %}
    </select>
    -->
    <div id="map" style="height: 400px;"class="container mt-5">

    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.0/js/bootstrap.bundle.min.js"> </script>
    <script src="{{ url_for('static', filename='js/render_points.js') }}">

    </script>
    </script>
</body>
</html>
